{% extends "base.html" %}
{% block title %} Sobre {% endblock %}
{% block content %}

<div class="page-wrap">
  <div class="wrap3">  
    <div class=" leftcol">
      <div class="panel">
        <div class="title">
          <h1>Sobre </h1>
          <span>Iluminando o caminho para uma cidade mais segura.</span>
        </div>
        <div class="content">
          <p>Lumen Pass é uma empresa comprometida em garantir a segurança dos cidadãos por meio de soluções inovadoras e simples de aplicar em cidades. Acreditamos que pequenas mudanças podem ter um grande impacto, e é por isso que o nosso principal projeto é a luz Lumen Pass - uma luz que acende quando um pedestre atravessa uma faixa de pedestres durante a noite.</p>
          <p>Com a Lumen Pass, estamos ajudando a tornar as ruas mais seguras para pedestres e motoristas. Nós entendemos que a segurança é uma prioridade em áreas urbanas, e a nossa solução é uma forma eficaz de melhorar a visibilidade e reduzir o risco de acidentes de trânsito.</p>
          <p>Além disso, a Lumen Pass também trabalha em colaboração com governos locais para implementar projetos de iluminação pública em áreas com pouca visibilidade, aumentando a segurança dos cidadãos e melhorando a qualidade de vida em geral.</p>
          <p>Na Lumen Pass, estamos comprometidos em tornar as cidades mais seguras para todos os cidadãos, e nossa equipe está sempre empenhada em desenvolver soluções inovadoras para ajudar a tornar isso possível</p>
        </div>
      </div>	
    </div>
    
      
    <div class="clearing"></div>
  </div>    
</div><!---page-wrap-End--->



{% endblock %}
{% block class2 %} class = 'active' {% endblock %}