<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
<link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="header-wrap">
	<div class="logo">
		<h1>Lumen Pass</h1>
    </div>
</div><!---header-wrap-End--->

<div class="menu-wrap">
	<div class="menu">
		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">Sobre</a></li>
            <li><a href="project">Projeto</a></li>
            <li><a href="pag_cadastro" class="active">Cadastro</a></li>
            <li><a href="pag_login">Login</a></li>
            <li><a href="list">Listagem</a></li>
                </ul>
  </div>
    
    <div class="socia-wrap">
	<div class="socail">
		<ul>
        	<li><a href="#"><img src="images/aim.png" alt="" /></a></li>
        	<li><a href="#"><img src="images/facebook.png" alt="" /></a></li>
            <li><a href="#"><img src="images/twwtter.png" alt="" /></a></li>
            <li><a href="#"><img src="images/linkedin.png" alt="" /></a></li>
		</ul>
	</div>
</div>
</div><!---menu-wrap-End--->

<div class="page-wrap">
<div class="wrap3">  
  <div class="leftcol">
  <div class="panel">
  	<div class="title">
  		<h1>Cadastro </h1>
        <span>Já tem o cadastro? Clique aqui.</span>
    </div>
      <div class="panel">
      
      
      <form>
          <div class="contact-form mar-top30">
            <label> <span>Nome completo</span>
            <input type="text" class="input_text" name="name" id="name"/>
            </label>
            <label> <span>Email</span>
            <input type="text" class="input_text" name="email" id="email"/>
            </label>
            <label> <span>Senha</span>
            <input type="password" class="input_text" name="subject" id="subject"/>
            </label>
            <label> <span>Confirmar senha</span>
            <input type="password" class="input_text" name="subject" id="subject"/>
            </label>
          </div>
        </form>
        <div class="clearing"></div>
      </div>
  </div>	
  </div>
  
    
  <div class="clearing"></div>
</div>    
</div><!---page-wrap-End--->
  
<div class="clearing"></div>
<div class="copyright-wrap">
	<div class="wrap">
    	<div class="content">
        <p>Copyright (c) LarIsaLves. Todos os direitos foram reservados.</p>
        </div>
	</div>
</div><!---copyright-wrap-End--->
</body>
</html>
