{% extends "base.html" %}
{% block title %} Cadastro {% endblock %}
{% block content %}

<div class="page-wrap">
<div class="wrap3">  
  <div class="leftcol">
  <div class="panel">
  	<div class="title">
  		<h1>Cadastro </h1>
        <span>Já tem o cadastro? Clique aqui.</span>
    </div>
      <div class="panel">
      
      
      <form>
          <div class="contact-form mar-top30">
            <label> <span>Nome completo</span>
            <input type="text" class="input_text" name="name" id="name"/>
            </label>
            <label> <span>Email</span>
            <input type="text" class="input_text" name="email" id="email"/>
            </label>
            <label> <span>Senha</span>
            <input type="password" class="input_text" name="subject" id="subject"/>
            </label>
            <label> <span>Confirmar senha</span>
            <input type="password" class="input_text" name="subject" id="subject"/>
            </label>
          </div>
        </form>
        <div class="clearing"></div>
      </div>
  </div>	
  </div>
  
    
  <div class="clearing"></div>
</div>    
</div><!---page-wrap-End--->



{% endblock %}
{% block class4 %} class = 'active' {% endblock %}
