<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>
<link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="header-wrap">
	<div class="logo">
		<h1>Lumen Pass</h1>
    </div>
</div><!---header-wrap-End--->

<div class="menu-wrap">
	<div class="menu">
		<ul>
      <li><a href="/" class="active" >Home</a></li>
      <li><a href="render/about">Sobre</a></li>
      <li><a href="render/project">Projeto</a></li>
      <li><a href="render/pag_cadastro">Cadastro</a></li>
      <li><a href="render/pag_login">Login</a></li>
      <li><a href="render/list">Listagem</a></li>
    </ul>
  </div>
    
    <div class="socia-wrap">
	<div class="socail">
		<ul>
        	<li><a href="#"><img src="images/aim.png" alt="" /></a></li>
        	<li><a href="#"><img src="images/facebook.png" alt="" /></a></li>
            <li><a href="#"><img src="images/twwtter.png" alt="" /></a></li>
            <li><a href="#"><img src="images/linkedin.png" alt="" /></a></li>
		</ul>
	</div>
</div>
</div><!---menu-wrap-End--->
<div class="banner-wrap">
	<div class="banner">
    <div class="banner-img"><img src="https://static.dw.com/image/39219505_1006.jpg" alt="" /></div>
  </div>
  <div class="shadow"></div>
</div><!---banner-wrap-End--->



<div class="clearing"></div>
<div class="copyright-wrap">
	<div class="wrap">
    	<div class="content">
        <p>Copyright (c) Larisalves. Todos os direitos foram reservados.</p>
        </div>
	</div>
</div><!---copyright-wrap-End--->
</body>
</html>
