<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Listagem</title>
<link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="header-wrap">
	<div class="logo">
		<h1>Lumen Pass</h1>
    </div>
</div><!---header-wrap-End--->

<div class="menu-wrap">
	<div class="menu">
		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">Sobre</a></li>
            <li><a href="project">Projeto</a></li>
            <li><a href="pag_cadastro">Cadastro</a></li>
            <li><a href="pag_login">Login</a></li>
            <li><a href="list" class="active">Listagem</a></li>
        </ul>
  </div>
    
    <div class="socia-wrap">
	<div class="socail">
		<ul>
        	<li><a href="#"><img src="/static/images/aim.png" alt="" /></a></li>
        	<li><a href="#"><img src="/static/images/facebook.png" alt="" /></a></li>
            <li><a href="#"><img src="/static/images/twwtter.png" alt="" /></a></li>
            <li><a href="#"><img src="/static/images/linkedin.png" alt="" /></a></li>
		</ul>
	</div>
</div>
</div><!---menu-wrap-End--->

<div class="page-wrap">
<div class="wrap3">  
  <div class=" leftcol">
  <div class="panel">
  	<div class="title">
  		<h1>Listagem </h1>
        <span>Listagem de usuários cadastrados.</span>
    </div>
      <div class="panel">
        <div class="content marTop30"> <img src="/static/images/img6.jpg" width="200" height="200" class="float-left mar-right30"/>
          <h2>Camila</h2>
          <p>Contato: camilagravida@gmail.com</p>
        </div>
        <div class="clearing"></div>
        <div class="content marTop30"> <img src="/static/images/img7.jpg" width="200" height="200" class="float-left mar-right30"/>
          <h2>Morbius</h2>
          <p>Contato: Morbius@morbius.edu.br </p>
        </div>
        <div class="clearing"></div>
        <div class="content marTop30"> <img src="/static/images/img8.jpg" width="200" height="200" class="float-left mar-right30"/>
          <h2>Trinity</h2>
          <p>Trinity123@matrix.com</p>
        </div>
        <div class="clearing"></div>
      </div>

  </div>	
  </div>
  
  
    
  <div class="clearing"></div>
</div>    
</div><!---page-wrap-End--->

<div class="clearing"></div>
<div class="copyright-wrap">
	<div class="wrap">
    	<div class="content">
        <p>Copyright (c) Larisalves. Todos os direitos foram reservados.</p>
        </div>
	</div>
</div><!---copyright-wrap-End--->
</body>
</html>
