{% extends "base.html" %}
{% block title %} Listagem {% endblock %}
{% block content %}
    
  
<div class="page-wrap">
<div class="wrap3">  
  <div class=" leftcol">
  <div class="panel">
  	<div class="title">
  		<h1>Listagem </h1>
        <span>Listagem de usuários cadastrados.</span>
    </div>
      <div class="panel">
        <div class="content marTop30"> <img src="/static/images/img6.jpg" width="200" height="200" class="float-left mar-right30"/>
          <h2>Camila</h2>
          <p>Contato: camilagravida@gmail.com</p>
        </div>
        <div class="clearing"></div>
        <div class="content marTop30"> <img src="/static/images/img7.jpg" width="200" height="200" class="float-left mar-right30"/>
          <h2>Morbius</h2>
          <p>Contato: Morbius@morbius.edu.br </p>
        </div>
        <div class="clearing"></div>
        <div class="content marTop30"> <img src="/static/images/img8.jpg" width="200" height="200" class="float-left mar-right30"/>
          <h2>Trinity</h2>
          <p>Trinity123@matrix.com</p>
        </div>
        <div class="clearing"></div>
      </div>

  </div>	
  </div>
  
  
    
  <div class="clearing"></div>
</div>    
</div><!---page-wrap-End--->


{% endblock %}
{% block class6 %} class = 'active' {% endblock %}

