{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}

<div class="page-wrap">
    <div class="wrap3">  
      <div class=" leftcol">
      <div class="panel">
          <div class="title">
              <h1>Login </h1>
            <span>Login do usuário</span>
        </div>
          <div class="panel">
            <div>
              login
            </div>
        
            </div>
            <div class="clearing"></div>
          </div>
    
      </div>	
      </div>
      
{% endblock %}

{% block class8 %} class = 'active' {% endblock %}