{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}

<div class="page-wrap">
<div class="wrap3">  
  <div class="leftcol">
  <div class="panel">
  	<div class="title">
  	<h1>Login </h1>
    </div>
      <div class="panel">
      
      
      <form>
          <div class="contact-form mar-top30">
            <label> <span>Email</span>
            <input type="text" class="input_text" name="email" id="email"/>
            </label>
            <label> <span>Senha</span>
            <input type="password" class="input_text" name="subject" id="subject"/>
            </label>
          </div>
        </form>
        <div class="clearing"></div>
      </div>
  </div>	
  </div>
  
</div></div>    

{% endblock %}
{% block class5 %} class = 'active' {% endblock %}
